.inputBox {
  display: flex;
  padding: 15px;
  border-bottom: 5px solid var(--bgGrey);
}

.inputBox > form {
  padding: 15px;
}

.ideaInput {
  margin-bottom: 10px;
}

.ideaInput > input {
  border: none;
  flex: 1;
}

.ideaButton {
  margin-left: auto;
}
